* {
    border: 2px solid red;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 8px;
  }

  ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
  }

  .title {
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 32px;
  }

  .container {
    display: flex;
    justify-content: center;
    gap: 52px;
  }

  img {
    width: 100px;
    height: 100px;
  }
  
  .info {
    max-width: 200px;
  }

  .quote {
    display: flex;
    align-items: center;
    justify-content: center;
  }